# ==========================
# AI Student Success Platform
# Requirements
# Phase 1-4: ML + MLOps + Explainability
# ==========================


# --- Core ML ---
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
xgboost==2.1.1
dill==0.3.8


# --- Explainable AI ---
shap==0.48.0


# --- Experiment Tracking ---
mlflow==3.1.1


# --- Visualization ---
matplotlib==3.10.3
plotly==5.24.0


# --- Frontend (Phase 6) ---
streamlit==1.38.0


# --- Utilities ---
python-dotenv==1.0.1
pyyaml==6.0.2


# --- Testing / CI ---
pytest==8.3.3
flake8==7.1.1
